<%- include('parts/_header') %>
    <%- include('parts/_menu') %>



        <!-- PROFİLE SECTİON -->

        <div class="container profile">
            <div class="pp">
                <!-- BURAYA USER PHOTO GELECEK -->
                <div class="pp-image">
                    <img id="imagePreview" src="<%= user.photo %>" alt="profile">
                    <!-- BURAYA USERNAME GELECEK -->
                    <h3>
                        <%= user.username %>
                    </h3>
                    <span id="create-blog"><i id="modalBlogBtn" class="fa-solid fa-circle-plus"></i> Blogla</span>
                </div>
            </div>
            <div id="about" class="profile-about">
                <div class="about-desc">
                    <!-- BURAYA KULLANICI ABOUT MODALDAN GELEN BİLGİLER GELECEK -->
                    <h4>Gümüş yıldızlardan bulutsu gökler diyarına.</h4>
                    <p>Kalemlerin ve başlanammış hikayelerin krallığına hoşgeldiniz</p>
                </div>
                <!--BURADA İLERDE KULLANICILAR KENDİ BAĞLANTILARINI OLUŞTURACAK -->
                <div class="proile-sub">
                    <div class="profile-icons">
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <i id="last-edit" class="fa-regular fa-pen-to-square"></i>
                    </div>
                </div>
            </div>
            <!-- BLOG MODAL KISMI -->
            <div id="modal2" class="modal2">
                <div class="modal-content2">
                    <form id="addblog" method="POST" action="/blogs" enctype="multipart/form-data">
                        <input type="text" name="blogtitle" placeholder="Blog başlığı girin">

                        <textarea name="blogtext" id="blog-text" placeholder="Yazmaya başlayın"></textarea>
                        <div class="form-btn">
                            <label id="yükle" for="dosyaYukleme" name="image">

                                <img style="width: 30px;" src="https://w7.pngwing.com/pngs/527/625/png-transparent-scalable-graphics-computer-icons-upload-uploading-cdr-angle-text.png" alt="">
                                Dosya Seç
                            </label>
                            <input type="file" name="image" id="dosyaYukleme" style="display: none;">
                            <button type="submit" id="closeBlogModalBtn" class="close-Blogbutton">Kaydet</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- PROİLE SECTİON END -->



        <!-- ABOUT MODAL KISMI -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <form>
                    <input type="text" name="about-title" placeholder="Kendinizi tanıtan bir başlık girin">

                    <textarea name="about-text" id="about-text" placeholder="Kendiniz hakkında bir açıklama girin"></textarea>
                    <button type="submit" id="closeModalBtn" class="close-button">Kaydet</button>
                </form>
            </div>
        </div>

        <div class="container blog-section">
            <h2>Blogladıklarım</h2>
           
            <div class="blogs">
              
                <div class="discovers-item">
                  
                    <div class="blog">
                        <% for(blog of blogs) { %>
                        <div class="d-block"  style="width: 400px; height: 500px;">
                            <img src="<%= blog.url %>" alt="blog-image">
                            <h4>
                                <%= blog.blogtitle %>
                            </h4>
                            <p>
                                <%= blog.blogtext.substring(0,30) + "..."%>
                            </p>
                            <!-- BURASI BLOĞUN DEVAMINI OKU MODAL KISMI -->
                            <div id="modal-blog" class="blog-text modal3" style="display: none;">
                                <div class="modal-content3">
                                    <h4>
                                        <%= blog.blogtitle %>
                                    </h4>
                                    <p>
                                        <%= blog.blogtext%>
                                    </p>
                                    <span id="closeeBlogBtn">
                                        <img src="https://icon-library.com/images/close-icon-png/close-icon-png-9.jpg" alt="" style="width: 30px; height: 30px; background-color: white; color: white; padding:3px; border-radius: 50%;">
                                    </span>
                                </div>


                            </div>
                            <button id="openBlogBtn">Devamını Oku</button>
                        </div>
                        <% } %>
                    </div>
              
                </div>
              
            </div>
        </div>
        </div>
        <!-- TAKİPÇİLER ALANI -->
        <div class="container followers">
            <h4>Takipçilerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container followers">
            <h4>Takip Ettiklerin <span>Hepsini Gör</span></h4>
            <div class="users">
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/6996168/pexels-photo-6996168.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Samanta Doranes</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/4974360/pexels-photo-4974360.jpeg?auto=compress&cs=tinysrgb&w=1600">
                            <h3>Kyle Wind</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/7745573/pexels-photo-7745573.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Marcos Clever</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3586091/pexels-photo-3586091.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Helena Gunses</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/3444087/pexels-photo-3444087.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Azara Ahmedow</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/5792641/pexels-photo-5792641.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Paul Sanches</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8993561/pexels-photo-8993561.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Alkerime Ashaben</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8129903/pexels-photo-8129903.jpeg?auto=compress&cs=tinysrgb&w=16001" alt="profile">
                            <h3>Halmony Grenger</h3>
                        </div>

                    </div>
                </div>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image">
                            <img src="https://images.pexels.com/photos/8090137/pexels-photo-8090137.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="profile">
                            <h3>Martin Owner</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>

        <script>



            const formAddBlog = document.getElementById('addblog');
            const addBlogBtn = document.getElementById('closeBlogModalBtn');

            formAddBlog.addEventListener('submit', () => {
                formAddBlog.submit();
            })





            //todo BURASI ABOUT MODAL KISMI
            const lastEditBtn = document.getElementById("last-edit");
            const modal = document.getElementById("modal");
            const closeModalBtn = document.getElementById("closeModalBtn");

            lastEditBtn.addEventListener("click", () => {
                modal.style.display = "flex";
            });

            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
            });

            const modalBtn = document.getElementById("create-blog");
            const modal2 = document.getElementById("modal2");
            const closeblogbtn = document.getElementById("closeBlogModalBtn");

            modalBtn.addEventListener("click", () => {
                modal2.style.display = "flex";
            });

            closeblogbtn.addEventListener("click", () => {
                modal2.style.display = "none";

            });



        </script>

        <%- include('parts/_footer') %>