<%- include('parts/_header') %>
    <%- include('parts/_menu') %>

    
    
        <!-- PROFİLE SECTİON -->

        <div class="container profile">
            <div class="pp">
                <!-- BURAYA USER PHOTO GELECEK -->
                <div class="pp-image">
                    <img  src="<%= user.photo %>" alt="profile">
                    <!-- BURAYA USERNAME GELECEK -->
                    <h3>
                        <%= user.username %>
                    </h3>
                    <span id="create-blog"><i id="modalBlogBtn" class="fa-solid fa-circle-plus"></i> Blogla</span>
                </div>
            </div>

            <!-- BLOG MODAL KISMI -->
            <div id="modal2" class="modal2">
                <div class="modal-content2">
                    <form id="addblog" method="POST" action="/blogs" enctype="multipart/form-data">
                        <input type="text" name="blogtitle" placeholder="Blog başlığı girin">

                        <textarea name="blogtext" id="blog-text" placeholder="Yazmaya başlayın"></textarea>
                        <div class="form-btn">
                            <label id="yükle" for="dosyaYukleme" name="image">

                                <img style="width: 30px;" src="https://w7.pngwing.com/pngs/527/625/png-transparent-scalable-graphics-computer-icons-upload-uploading-cdr-angle-text.png" alt="">
                                Dosya Seç
                            </label>
                            <input type="file" name="image" id="dosyaYukleme" style="display: none;">
                            <button type="submit" id="closeBlogModalBtn" class="close-Blogbutton">Kaydet</button>
                        </div>

                    </form>
                </div>
            </div>
            
        </div>
        <div id="about" class="profile-about">
            <div class="about-desc">
                <!-- BURAYA KULLANICI ABOUT MODALDAN GELEN BİLGİLER GELECEK -->
                <h4> <%= user.aboutTitle %></h4>
                <p><%= user.aboutText %></p>
            </div>
            <!--BURADA İLERDE KULLANICILAR KENDİ BAĞLANTILARINI OLUŞTURACAK -->
            <div class="proile-sub">
                <div class="profile-icons">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <i id="last-edit" class="fa-regular fa-pen-to-square"></i>
                </div>
            </div>
        </div>
        <!-- PROİLE SECTİON END -->
   


        <!-- ABOUT MODAL KISMI -->
        <div id="modal" class="modal">
            <div class="modal-content">
                <form id="profilModal" method="POST" action="/users/dashboard" enctype="multipart/form-data" >
                    <input type="text" name="aboutTitle" placeholder="Kendinizi tanıtan bir başlık girin" id="aboutTitle">

                    <textarea name="aboutText" id="aboutText" placeholder="Kendiniz hakkında bir açıklama girin"></textarea>

                    <input type="file" name="photo" id="photo">
                    <button type="submit" id="closeModalBtn" class="close-button">Kaydet</button>
                </form>
            </div>
        </div>
      
        <div class="container blog-section">
            <h2>Blogladıklarım</h2>
         
            <div class="blogs">
              
                <div style="display: flex; flex-wrap: wrap;" class="discovers-item">
                    <% for(blog of blogs) { %>
                    <div class="blog">
                     
                        <div class="d-block"  style="width: 400px; height: 500px;">
                            <img src="<%= blog.url %>" alt="blog-image">
                            <h4>
                                <%= blog.blogtitle %>
                            </h4>
                            <p>
                                <%= blog.blogtext.substring(0,30) + "..."%>
                            </p>
                            <div class="edits-blog">
                                <ul>
                        

                                    <li><a href="/blogs/<%= blog._id %>/?_method=DELETE"
                                        onclick="return confirm('Silmek İstediğinize Emin misiniz?')"
                                        
                                        ><i class="fa-solid fa-trash"></i></a></li>
                                </ul>

                            </div>





                            <!-- BURASI BLOĞUN DEVAMINI OKU MODAL KISMI -->
                            <div id="modal-blog" class="blog-text modal3" style="display: none;">
                                <div class="modal-content3">
                                    <h4>
                                        <%= blog.blogtitle %>
                                    </h4>
                                    <p>
                                        <%= blog.blogtext%>
                                    </p>
                                    <span id="closeeBlogBtn">
                                        <img src="https://icon-library.com/images/close-icon-png/close-icon-png-9.jpg" alt="" style="width: 30px; height: 30px; background-color: white; color: white; padding:3px; border-radius: 50%;">
                                    </span>
                                </div>


                            </div>
                            <button id="openBlogBtn">Devamını Oku</button>
                        </div>
                       
                    </div>
                    <% } %>
                </div>
              
            </div>
        </div>
        </div>
        <!-- TAKİPÇİLER ALANI -->
        <div class="container followers">
            <h4>Takipçilerin</h4>
            <div class="users">
                <% for(follower of user.followers) { %>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image" style="display: flex!important;flex-direction: row!important; gap:5px;">
                            <img style="width: 60px!important; height: 60px!important;" src="<%= follower.photo %>" alt="profile">
                            <a href="<%= follower._id %>" style="font-size: 12px; color:beige;"><%= follower.username %></a>
                        </div>

                    </div>
                </div>
                <%   } %>
            </div>
        </div>

        <div class="container followers">
            <h4>Takip Ettiklerin</h4>
            <div class="users">
                <% for(following of user.followings) { %>
                <div class="user">

                    <div class="pp">
                        <div class="pp-image" style="display: flex!important;flex-direction: row!important; gap:5px;">
                            <img style="width: 60px!important; height: 60px!important;" src="<%= following.photo %>" alt="profile">
                            <a href="<%= following._id %>" style=" color:beige;"><%=following.username %></a>
                        </div>

                    </div>
                </div>
                <%   } %>
            </div>
        </div>

        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>

        <script>






            const formAddBlog = document.getElementById('addblog');
            const addBlogBtn = document.getElementById('closeBlogModalBtn');

            formAddBlog.addEventListener('submit', () => {
                formAddBlog.submit();
            })






            //todo BURASI ABOUT MODAL KISMI
            const lastEditBtn = document.getElementById("last-edit");
            const modal = document.getElementById("modal");
            const closeModalBtn = document.getElementById("closeModalBtn");

            lastEditBtn.addEventListener("click", () => {
                modal.style.display = "flex";
            });


            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
            });


            const profilmodal = document.getElementById('profilModal');
           

           profilmodal.addEventListener('submit', () => {
               profilmodal.submit();
           })


            const modalBtn = document.getElementById("create-blog");
            const modal2 = document.getElementById("modal2");
            const closeblogbtn = document.getElementById("closeBlogModalBtn");

            modalBtn.addEventListener("click", () => {
                modal2.style.display = "flex";
            });

            closeblogbtn.addEventListener("click", () => {
                modal2.style.display = "none";

            });

    



        </script>

        <%- include('parts/_footer') %>