<%- include('parts/_header') %>
    <%- include('parts/_menu') %>



        <div class="slide-container">
            <div class="slides">
                <% for(let i = 0; i < blogs.length && i < blogs.length; i++) { %>
               
                    <div class="sld">
                        <img  actv src="<%= blogs[i].url %>" alt="slide1">
                        <div class="slide-user">
                      
                            <h3><%= blogs[i].blogtitle %></h3>
                            <a href="/users/<%= blogs[i].user._id %>">Bloğa git</a>
                        </div>
                       
                    </div>
                  
                <% } %>
         


            </div>
            <div class="btns">
                <span class="nexta">&#10095;</span>
                <span class="preva">&#10094;</span>
            </div>

            <div class="dotsContainer">
                <div class="dot actv" onclick="switchImage(this)" attr="0"></div>
                <div class="dot" attr="1" onclick="switchImage(this)"></div>
                <div class="dot" attr="2" onclick="switchImage(this)"></div>
                <div class="dot" attr="3" onclick="switchImage(this)"></div>
                <div class="dot" attr="4" onclick="switchImage(this)"></div>
                <div class="dot" attr="5" onclick="switchImage(this)"></div>
            </div>


        </div>




        <div class="container headertxt">

            <div class="text-title">
                <img src="https://revenuearchitects.com/wp-content/uploads/2017/02/Blog_pic-1030x584.png" alt="">
                <div class="txt">
                    <h2>Amacımız nedir ?</h2>
                    <h4>Düşüncelerinizi, fikirlerinizi, hayal dünyanızı ve diğer tüm herşeyi paylaşacağınız güvenilir bir ortam oluşturmak.</h4>
                </div>

            </div>

            <div class="text-title">
                <img src="https://www.channelstv.com/wp-content/uploads/2023/03/BLOG.jpg" alt="">
                <div class="txt">
                    <h2>Yazmaya başla ve paylaş</h2>
                    <h4>senin ve bloglayan herkesin yazdıkları burada. Hadi başlayalım. Okumak için çok zaman var</h4>
                </div>

            </div>


        </div>
        <div class="container followers" style="margin-top: 1rem;">
            <h4>En iyi Bloglayanlar</h4>
            <div class="users">
                <% for(let i = 0; i < 10 && i < users.length; i++) { %>
                    <div class="user">
                        <div class="pp">
                            <div class="pp-image">
                                <img src="<%= users[i].photo %>" alt="No Photo">
                                <h3><%= users[i].username %></h3>
                            </div>
                        </div>
                    </div>
                <% } %>

            </div>
        </div>
        <span id="myButton"><i class="fa-regular fa-circle-up"></i></span>

        <script>

            const slideImages = document.querySelectorAll('.sld');

            let nexta = document.querySelector('.nexta');
            let preva = document.querySelector('.preva');

            let dots = document.querySelectorAll('.dot');

            var counter = 0;

            nexta.addEventListener('click', slideNext);

            function slideNext() {
                slideImages[counter].style.animation = 'next1 2s ease-in forwards';
                if (counter >= slideImages.length - 1) {
                    counter = 0;
                } else {
                    counter++;

                }
                slideImages[counter].style.animation = 'next2 2s ease-in forwards';
                indicators()
            }

            preva.addEventListener('click', slidePrev);

            function slidePrev() {
                slideImages[counter].style.animation = 'prev1 2s ease-in forwards';
                if (counter == 0) {
                    counter = slideImages.length - 1;
                } else {
                    counter--;

                }
                slideImages[counter].style.animation = 'prev2 2s ease-in forwards';
                indicators()
            }

            //auto play
            function autoSliding() {
                slideNext();
                deleteInterval = setInterval(timer, 10000);
                function timer() {
                    slideNext();
                    indicators();
                }
            }
            autoSliding();

  

            function indicators() {
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(' actv', '')
                }
                dots[counter].className += ' actv';
            }

            //add indicators click
            let switchImage=(currentImage)=>{
                currentImage.classList.add('actv');
                var imageId = currentImage.getAttribute('attr');
                if(imageId > counter){
                    slideImages[counter].style.animation = 'next1 2s ease-in forwards';
                    counter = imageId;
                    slideImages[counter].style.animation = 'next2 2s ease-in forwards';
                }
                else if(imageId == counter){
                    return;
                }else{
                    slideImages[counter].style.animation = 'prev1 2s ease-in forwards';
                    counter = imageId;
                    slideImages[counter].style.animation = 'prev2 2s ease-in forwards';
                }
                indicators();
            }



        </script>
        <%- include('parts/_footer') %>